<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.backend.Ecommerce.Mapper.OrderMapper">

    <insert id="addOrderProducts" parameterType="com.backend.Ecommerce.model.Order">
        insert into "EcommerceBackendDb".order_items(product_id,quantity,price,order_id)
        VALUES(#{product},#{quantity},#{price},#{orderId});
    </insert>

    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="orderId">
        INSERT INTO "EcommerceBackendDb".orders (customer_id)
        VALUES (#{customerId})
    </insert>
    <update id="addTotalAmount">
        update "EcommerceBackendDb".orders
        set totalamount=#{amount}
        where order_id=#{orderId}
    </update>

    <select id="getOrders" resultType="com.backend.Ecommerce.model.Orderbook">
        SELECT
            p.name as name,
            o.order_id as orderId,
            oi.price as price,
            p.image as image,
            o.totalamount as amount,
            oi.quantity as quantity,
            o.order_date as date,
            u.username as user
        FROM "EcommerceBackendDb".orders o
        JOIN "EcommerceBackendDb".order_items oi ON o.order_id = oi.order_id
        JOIN "EcommerceBackendDb".product p ON oi.product_id = p.id
        JOIN "EcommerceBackendDb".user u ON o.customer_id = u.email
        ORDER BY o.order_date DESC;
    </select>

    <select id="getOrdersByUserId" parameterType="String" resultType="com.backend.Ecommerce.model.Orderbook">
        SELECT
        p.name as name,
        o.order_id as orderId,
        oi.price as price,
        p.image as image,
        o.totalamount as amount,
        oi.quantity as quantity,
        o.order_date as date
        FROM "EcommerceBackendDb".orders o
        JOIN "EcommerceBackendDb".order_items oi ON o.order_id = oi.order_id
        JOIN "EcommerceBackendDb".product p ON oi.product_id = p.id

        where o.customer_id=#{userId}
        ORDER BY o.order_date DESC;
    </select>

</mapper>